doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, shrink-to-fit=no")
    title 风氢扬科技
  body
    p.scale
    div#loading(data-scroll-section)
      .spinner
        -for (var x=1; x<=5; x++)
          div(class="rect"+x)
    .c-page#page-scroll
      .c-header-btn
        .menu-on
        .menu-off
      .c-menubox
        .menu-area
          .menu-logo-box
            a.menu-logo(href="#") 风氢扬科技
          nav.menu-nav
            ul.menu-ul
              each tab in ["Products", "Application", "Support", "Media", "Join us"]
                li 
                  a(href="#")
                    span.text-current
                      span.menu-link(data-title=tab)=tab
        .menu-bottom
          img(src=require("../images/menu_bottom.png"))
      
      .o-scroll.swiper-container
        main.swiper-wrapper
          //- page0:: logo页
          div#section0.swiper-slide(data-history="start" data-hash="start")
            section(class="c-section")
              .o-container
                .p0-linebg
                  .p0-linebg-wrapper

                .p0-plus-bg
                  .p0-plus-wrapper
                    .p0-plus-image

                .p0-ltlogo#p0-ltlogo
                  img(src=require("../images/p0_ltlogo.png"))
                
                .o-center-wrapper-logo
                  .p0-mainlogo
                    .p0-mainlogo-wrapper
                      .p0-mainlogo-image#p0-mainlogo-image(data-scroll data-scroll-speed=3 data-scroll-position="top")
                  .p0-logotext#p0-logotext
                    each val, index in ["HIGH POWER", "NO CARBON EMISSION", "LONG ENDURANCE"]
                      span.p0-logo-textline
                        span(data-scroll data-scroll-speed=(3-index)/2 data-scroll-position="top" data-scroll-delay=0.02)=val
          
          //- page1:: 多媒体页 
          div#section1.swiper-slide(data-history="products" data-hash="products")
            section(class="c-section")
              .bg-holder.p0-blueline-bg
                img.p0-bluebg-img.scaleable(src=require("../images/p0_blueline_bg.png"))
              .p1-holder-pos
                .p1-contents-height
                  #p1-contents.p1-contents.swiper-container
                    .swiper-wrapper
                      .swiper-slide.media-slide
                        img(src=require("../images/p1_proxy.png"))
                        a.p1-detail(data-swiper-parallax-x="100" data-swiper-parallax-opacity="0")
                          span  P1 DETAIL
                      .swiper-slide.media-slide
                        img(src=require("../images/p1_proxy.png"))
                        a.p1-detail(data-swiper-parallax-x="100" data-swiper-parallax-opacity="0") 
                          span P2 DETAIL
                      .swiper-slide.media-slide
                        img(src=require("../images/p1_proxy.png"))
                        a.p1-detail(data-swiper-parallax-x="100" data-swiper-parallax-opacity="0")
                          span  P3 DETAIL
                    .swiper-button-prev
                    .swiper-button-next
                  img.p1-slide-tip(src=require("../images/p1_slide_tip.png"))
              .p1-ltlogo
                img(src=require("../images/p1_lt_logo.svg"))
              .p1-lb-icon
                img(src=require("../images/p1_lb_icon.svg"))
                //img(src=require("../images/p1_lb_icon.png"))
          
          //- page2:: 科技
          div#section2.swiper-slide(data-history="application" data-hash="application")
            section(class="c-section")
              .p2-linebg
                .p2-linebg-wrapper
              .p2-bluebg-1
                img.p2-bluebg-1-img.scaleable(src=require("../images/p2_blueline_1.png"))
              .p2-bluebg-2
                img.p2-bluebg-2-img(src=require("../images/p2_blueline_2.png"))
              //-.p2-bg-leftside
                img.p2-leftside-img(src=require("../images/p2_leftside.png"))
              
              .p2-left-side
                p LONG ENDURANCE

              .p2-content-bg
                .p2-machine
                  img.scaleable(src=require("../images/p2_machine.png"))
                .p2-machine-warn
                  img.scaleable(src=require("../images/p2_machine_warn.png")) 
              
              .p2-title
                p 风氢扬科技
                img.p2-lbbg-img(src=require("../images/p2_lbbg_img.svg"))
              .p2-contents.swiper-containers
                .swiper-wrapper
                  - for(var x = 0; x <3 ; x ++)
                    .swiper-slide.tech-slide
                      h2.p2-cont-tit(data-swiper-parallax-opacity="0")
                        p(data-swiper-parallax-x="100" )
                          span 你好世界
                        p(data-swiper-parallax-x="300")
                          span /hello world/
                      .p2-cont-detal.swiper-no-swiping
                        p 燃料电池系统的原型可追溯至1839年，英国科学家威廉·格罗夫进行了人类历史上第一次燃料电池实验。<br>
                          | 如今，这个“盒子”已成为全球各国能源战略的重要载体，正在改变并改善着人类赖以生存的生活环境和动力驱动方式。
                        p 它使用宇宙中最丰富的元素 - “氢”替代传统化石能源，通过电解反应将化学能转化为电能。已在全球各地的公共交通、物流运输、工程机械等领域得到了广泛应用，为真正的零碳排贡献着卓越的力量。
                        p 一群人再次因对前沿技术的追逐探索集结在一起，以G-POWOER作为自己出征的徽章，佩戴着自信的利刃，天际慕白的晨光洒在身上，他们紧握剑柄，高唱战歌，用坚韧和灿烂砌成巴别高塔，向深邃的苍穹攀登。
                .swiper-button-prev
                  .swiper-button-prev-bg
                .swiper-button-next
                  .swiper-button-prev-bg

          //- page3:: 产品与服务
          div#section3.swiper-slide(data-history="support")
            section(class="c-section")
              .p3-bluebg-1
                img.p3-bluebg-img.scaleable(src=require("../images/p3_blueline_1.png"))
              .p3-bluebg-2
                img.p3-bluebg-img.scaleable(src=require("../images/p3_blueline_2.png"))
              .p3-title
                p 产品与服务
                img(src=require("../images/p3_title.png")
                  data-scroll
                  data-scroll-speed=3
                  data-scroll-direction="horizontal")
              .p3-right-side
                p NO CARBON EMISSION

              //- .swiper-container
              //-   .swiper-wrapper
              //-     .swiper-slide 
              //-       img(src=require("../images/p3_proxy.png"))
              //-     .swiper-slide 
              //-       img(src=require("../images/p3_proxy.png"))
              //-     .swiper-slide 
              //-       img(src=require("../images/p3_proxy.png"))
              //-   .swiper-button-prev
              //-   .swiper-button-next
        .swiper-scrollbar


    //-script(nomodule src="https://cdnjs.cloudflare.com/ajax/libs/babel-polyfill/7.6.0/polyfill.min.js" crossorigin="anonymous")
    //-script(nomodule src="https://polyfill.io/v3/polyfill.min.js?features=Object.assign%2CElement.prototype.append%2CNodeList.prototype.forEach%2CCustomEvent%2Csmoothscroll" crossorigin="anonymous")