doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, shrink-to-fit=no")
    title 风氢扬科技
  body
    p.scale
    div#loading(data-scroll-section)
      .spinner
        -for (var x=1; x<=5; x++)
          div(class="rect"+x)
    .c-page#page-scroll
      .c-header-btn
        .menu-on
        .menu-off
      .c-menubox.container-fluid
        .menu-area.row
          .menu-logo-box
            a.menu-logo(href="#")
              img(src=require("../images/p_logo.svg"))
          nav.menu-nav
            ul.menu-ul
              each val, index in {"Media":"多媒体", "Technology":"风氢扬科技", "Products":"产品与服务", "Support":"技术支持", "Use case":"应用案例", "News":"新闻"}
                li 
                  a.text-current(href="#")
                    span.menu-link(data-title=val)=index
        //- .menu-bottom
        //-   img(src=require("../images/menu_bottom.png"))
      
      .o-scroll.swiper-container
        main.swiper-wrapper
          //- page0:: logo页
          #section0.swiper-slide(data-history="start" data-hash="start")
            section(class="c-section")
              .o-container
                .p0-linebg
                  .p0-linebg-wrapper

                .p0-plus-bg
                  .p0-plus-wrapper
                    .p0-plus-image

                .p0-ltlogo#p0-ltlogo
                  img(src=require("../images/p0_ltlogo.png"))
                
                .o-center-wrapper-logo
                  .p0-mainlogo
                    .p0-mainlogo-wrapper
                      .p0-mainlogo-image#p0-mainlogo-image(data-scroll data-scroll-speed=3 data-scroll-position="top")
                  .p0-logotext#p0-logotext
                    include ../images/slogn.svg

          //- page1:: 多媒体页 
          #section1.swiper-slide(data-history="products" data-hash="products")
            section(class="c-section")
              .bg-holder.p0-blueline-bg
                img.p0-bluebg-img.scaleable(src=require("../images/p0_blueline_bg.png"))
              .p1-holder-pos
                .p1-contents-height
                  #p1-contents.p1-contents.swiper-container
                    .swiper-wrapper
                      .swiper-slide.media-slide
                        img(src=require("../images/p1_proxy.png"))
                        a.p1-detail(data-swiper-parallax-x="100" data-swiper-parallax-opacity="0")
                          span  P1 DETAIL
                      .swiper-slide.media-slide
                        img(src=require("../images/p1_proxy.png"))
                        a.p1-detail(data-swiper-parallax-x="100" data-swiper-parallax-opacity="0") 
                          span P2 DETAIL
                      .swiper-slide.media-slide
                        img(src=require("../images/p1_proxy.png"))
                        a.p1-detail(data-swiper-parallax-x="100" data-swiper-parallax-opacity="0")
                          span  P3 DETAIL
                    .swiper-button-prev
                    .swiper-button-next
                  img.p1-slide-tip(src=require("../images/p1_slide_tip.png"))
              .p1-ltlogo
                img(src=require("../images/p1_lt_logo.svg"))
              .p1-lb-icon
                img(src=require("../images/p1_lb_icon.svg"))
                //img(src=require("../images/p1_lb_icon.png"))
          
          //- page2:: 科技
          #section2.swiper-slide(data-history="application" data-hash="application")
            section(class="c-section")
              .p2-linebg
                .p2-linebg-wrapper
              .p2-bluebg-1
                img.p2-bluebg-1-img.scaleable(src=require("../images/p2_blueline_1.png"))
              .p2-bluebg-2
                img.p2-bluebg-2-img(src=require("../images/p2_blueline_2.png"))
              //-.p2-bg-leftside
                img.p2-leftside-img(src=require("../images/p2_leftside.png"))
              
              .p2-left-side
                p LONG ENDURANCE

              .p2-content-bg
                .p2-machine
                  img.scaleable(src=require("../images/p2_machine.svg"))
                .p2-machine-warn
                  img.scaleable(src=require("../images/p2_machine_warn.png")) 
              
              .p2-title.column-title
                p 风氢扬科技
                img.p2-lbbg-img(src=require("../images/p2_lbbg_img.svg"))
              .p2-contents.swiper-containers
                .swiper-wrapper
                  
                  .swiper-slide.tech-slide
                    h2.p2-cont-tit(data-swiper-parallax-opacity="0")
                      p(data-swiper-parallax-x="100" )
                        span 你好世界
                      p(data-swiper-parallax-x="300")
                        span /Hello world/
                    .p2-cont-detal.stop-swiping
                      p 燃料电池系统的原型可追溯至1839年，英国科学家威廉·格罗夫进行了人类历史上第一次燃料电池实验。<br>
                        | 如今，这个“盒子”已成为全球各国能源战略的重要载体，正在改变并改善着人类赖以生存的生活环境和动力驱动方式。
                      p 它使用宇宙中最丰富的元素 - “氢”替代传统化石能源，通过电解反应将化学能转化为电能。已在全球各地的公共交通、物流运输、工程机械等领域得到了广泛应用，为真正的零碳排贡献着卓越的力量。
                      p 一群人再次因对前沿技术的追逐探索集结在一起，以#[strong G-POWOER]作为自己出征的徽章，佩戴着自信的利刃，天际慕白的晨光洒在身上，他们紧握剑柄，高唱战歌，用坚韧和灿烂砌成巴别高塔，向深邃的苍穹攀登。
                  
                  .swiper-slide.tech-slide
                    h2.p2-cont-tit(data-swiper-parallax-opacity="0")
                      p(data-swiper-parallax-x="100" )
                        span 关于我们
                      p(data-swiper-parallax-x="300")
                        span /About us/
                    .p2-cont-detal.stop-swiping
                      p #[strong G-POWER]风氢扬科技成立于2019年，核心研发团队来自国内外知名燃料电池及整车开发企业。公司位于上海新能源汽车及关键零部件产业基地的研发中心在2020年投入运营，已形成完备的从核心零部件到燃料电池系统及功能样车的全套开发、测试与试制能力，并与国内诸多一线整车企业合作开发燃料电池汽车车型，为发展迅速且多样化的燃料电池应用场景提供先进的燃料电池技术和完整的动力系统总成解决方案。
                      p #[strong G-POWER]风氢扬科技研发团队具有丰富且专业的燃料电池及整车开发经验，在持续自主研发的同时，与多所国内外知名高校积极合作，共同开展关键技术的联合研究开发工作。截止2020年8月，专利申报已达187项，2020年专利整体规划将突破200项，全面覆盖核心零部件研发、系统集成设计、控制策略开发等核心技术，并获得ISO9001质量管理体系认证。

                .swiper-button-prev.pretty-navigation
                  .swiper-button-prev-bg
                .swiper-button-next.pretty-navigation
                  .swiper-button-prev-bg

          //- page3:: 产品与服务
          #section3.swiper-slide(data-history="support")
            section(class="c-section")
              .p3-bluebg-1
                img.p3-bluebg-img.scaleable(src=require("../images/p3_blueline_1.png"))
              .p3-bluebg-2
                img.p3-bluebg-img.scaleable(src=require("../images/p3_blueline_2.png"))
              .p3-title.column-title
                p 产品与服务
                img(src=require("../images/p3_title.svg")
                  data-scroll
                  data-scroll-speed=3
                  data-scroll-direction="horizontal")
              .p3-right-side
                p NO CARBON EMISSION
              .p3-contents.container-fluid
                .row
                  .p3-cont-left.col-sm-12.col-md-5
                    .p3-prodect-title.clearfix
                      img.p3-prodect-index(src=require("../images/p3_index.svg"))
                      h3.p3-prodect-tittext /CHIGMA系列
                    .p3-product-msg.swiper-containers
                      .swiper-wrapper
                        .swiper-slide
                          
                          img(src=require("../images/p3_model_1.png"))
                        .swiper-slide
                          img(src=require("../images/p3_model_2.png"))
                        .swiper-slide
                          img(src=require("../images/p3_model_3.png"))
                        .swiper-slide
                          img(src=require("../images/p3_model_4.png"))
                      .swiper-pagination
                  .p3-cont-right.stop-swiping.col-sm-12.col-md-7
                    p CHIGMA系列燃料电池系统是G-POWER风氢扬科技基于用户的多样化需求开发而成的65kW至125kW的中、高功率产品系列。该系列产品采用大功率单堆方案和一体式模块化设计，通过持续优化的控制策略和集成设计实现长寿命、大功率、小体积等行业领先优势。
                    p CHIGMA 60及CHIGMA 80燃料电池系统可为市内物流、城市公交、城际货运、市政环卫、工程服务等车辆提供稳定可靠的零排动力，并以与诸多国内主机厂商开展战略合作和产品应用落地。
                    p CHIGMA 120燃料电池系统专为重卡长时间运行、高负载率及工况恶劣等特点打造，通过整车控制策略、系统集成、核心零部件三大核心领域的技术提升，从而拥有更长寿命、更高集成度和更高可靠性，满足重卡车辆持续高速工况的需求，同时还将实现全生命周期的成本降低。

          //- page4:: 售后支持
          #section4.swiper-slide(data-history="support")
            section(class="c-section")
              .p4-bluebg-1
                img.p4-bluebg-img.scaleable(src=require("../images/p4_blueline_1.png"))
              .p4-prodect-title.clearfix
                img.p4-prodect-index(src=require("../images/p4_index.svg"))
                h3.p4-prodect-tittext /售后支持
                p.stop-swiping 提供可靠的产品只是第一步，一套涵盖使用指导、车辆保养维修、数据监控管理的完善体系是我们为客户进行售后运营维护的有力保障
              .p4-contents.swiper-containers
                .swiper-wrapper
                  .swiper-slide 
                    h3.p4-box.col-md-5 数据业务平台/<br>&gt;Data platform
                    p.col-md-7 自主开发大数据平台，对车辆运行情况进行实时监控，从而持续改善运营效率，预测并防止车辆运行中出现的问题，保障行驶安全。
                  .swiper-slide
                    h3.p4-box.col-md-5 运维保障服务/<br>&gt;Support service
                    p.col-md-7 随着中国市场氢燃料电池汽车的商业化运营推行，我们建立了专业面向氢燃料电池汽车运维的售后服务体系，为不断增长的氢燃料电池汽车市场提供专业的售后服务。
                  
                  .swiper-slide
                    h3.p4-box.col-md-5 产品指引手册/<br>&gt;Product manual
                    p.col-md-7 提供全方位的操控、维护、保养指导，并提供标准化的备品备件清单
                .swiper-button-prev.pretty-navigation
                  .swiper-button-prev-bg
                .swiper-button-next.pretty-navigation
                  .swiper-button-prev-bg

          //- page5:: 应用案例
          #section5.swiper-slide(data-history="case")
            section(class="c-section")
              .p5-bluebg-1
                img.p5-bluebg-img.scaleable(src=require("../images/p5_blueline_1.png"))
              .p5-linebg
                .p5-linebg-wrap
              .p5-title.column-title
                p 应用案例
                img(src=require("../images/p5_title.svg"))
              .p5-contents.stop-swiping
                .p5-thumb.swiper-containers.col-md-2
                  .swiper-wrapper
                    .swiper-slide
                      img(src=require("../images/p5_model_1.svg"))
                    .swiper-slide
                      img(src=require("../images/p5_model_2.svg"))
                    .swiper-slide
                      img(src=require("../images/p5_model_3.svg"))
                    .swiper-slide
                      img(src=require("../images/p5_model_4.svg"))
                    .swiper-slide
                      img(src=require("../images/p5_model_1.svg"))
                .p5-thumb-scrollbar.swiper-scrollbar

                .p5-msgcont.col-md-10.swiper-containers
                  .swiper-wrapper
                    - for(var i=1; i<=5; i++)
                      .swiper-slide
                        .p5-text-area
                          span.p5-sub-title 公共交通
                          h3.p5-model-title="No."+i+ ": CHANGING THE WORLD,<br>ONE CITY AT A TIME"
                          p.p5-model-detail We care, we share, we believe. <br>
                            | We develop, market, and help operate customized micromobility solutions in cities across the globe, leading the industry in sustainable bike share systems.
                        .p5-imageholder
                          include ../images/p5_imgholder.svg
                          .p5-modelimg
                            img.scaleable(src=require("../images/p5_modelimg_1.jpg"))
          
          //- page6:: 新闻
          #section6.swiper-slide(data-history="news")
            section(class="c-section")
              .p6-bluebg-1
                img.p6-bluebg-img.scaleable(src=require("../images/p6_blueline_1.png"))
              .p6-title.column-title
                //p 应用案例
                img(src=require("../images/p6_title.svg"))
              .p6-rb-icon
                img(src=require("../images/p1_lb_icon.svg"))
              .p6-contents-pos.stop-swiping
                .p6-contents.swiper-containers
                  .swiper-wrapper
                    -for(var i =1; i<=7; i++)
                      .news-slide.swiper-slide
                        a.p6-news-link(href="#")
                          figure.p6-newsimg-size
                            .p6-img-wrapper
                              img(src=require("../images/p6_news_1.jpg"))
                          .p6-news-info
                            span 2020-12-04
                            h3 CHANGING THE WORLD
                            p We care, we share, we belivie.<br>
                              | We develop, market, and help operate customized micromobility solutions in cities across the globe, leading the industry in sustainable bike share systems.
                .swiper-button-prev.pretty-navigation.p6-prev
                  .swiper-button-prev-bg
                .swiper-button-next.pretty-navigation.p6-next
                  .swiper-button-prev-bg
          #section7.swiper-slide


        .main-scrollbar.swiper-scrollbar