doctype html
block language
  - var language = "zh-CN";
html(lang=language)
  
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no")
    //- , viewport-fit=cover
    title G-POWER
    meta(name="description", content=language)
  body
    
    mixin svguse(svgid, vb)
      svg(xmlns="http://www.w3.org/2000/svg", viewBox= vb[0]+" "+vb[1]+" "+vb[2]+" "+vb[3])
        use(xlink:href=svgid)

    <div aria-hidden="true" style="position: absolute; width: 0px; height: 0px; overflow: hidden;">
      svg(xmlns="http://www.w3.org/2000/svg")
        def
          image(xlink:href=require("../images/model_img_1.png"),id="model_img_1" width="630" height="578")
          image(xlink:href=require("../images/model_img_3.png"),id="model_img_3" width="577" height="391")
          image(xlink:href=require("../images/model_img_4.png"),id="model_img_4" width="636" height="537")
      include ../images/models_inc.svg
      include ../images/slogn_en_inc.svg 
      include ../images/slogn_cn_inc.svg 
      //- 如果用xlink:href外链，将会获取不到svg dom
    </div>
    
    p.scale 
    div#loading(data-scroll-section)
      .spinner
        -for (var x=1; x<=5; x++)
          div(class="rect"+x)
    .c-page#page-scroll
      .c-menubox.container-fluid
        .menu-area.row
          .menu-logo-box
            a.menu-logo(href="./")
              include ../images/p_logo_inc.svg
            .menu-switch-mobile
              span.menu-burger-line
              span.menu-burger-line
              span.menu-burger-line
              //img(src=require("../images/p_logo.svg"))
          
          nav.menu-nav
            ul.menu-ul
              block vars
                - var menus = {home: "首页", "G-POWER":"风氢扬科技", "products-service":"产品与服务",  applications:"市场应用", media:"媒体中心"};
              each val,key in menus
                li 
                  a.text-current(href="./"+key.replace("&",""),class=key)
                    span.menu-link(data-title=val)=val
                    
        //- .menu-bottom
        //-   img(src=require("../images/menu_bottom.png"))
      //- .c-menubox-blur

      .o-scroll.swiper-container
        .blueline-mobile(data-swiper-parallax="-50%" data-swiper-parallax-duration="900" data-swiper-parallax-delay="0")
          .blueline-mobile-img
        main.swiper-wrapper
          

          //- page0:: logo页
          #section0.swiper-slide(data-history="home" data-hash="start")
            section(class="c-section")
              .o-container
                .p0-linebg
                  .p0-linebg-wrapper

                .p0-plus-bg
                  .p0-plus-wrapper
                    .p0-plus-image

                .p0-ltlogo#p0-ltlogo
                  img(src=require("../images/p0_ltlogo.png"))

                .o-center-wrapper-logo
                  .p0-mainlogo
                    .p0-mainlogo-wrapper
                      .p0-mainlogo-image#p0-mainlogo-image(data-scroll data-scroll-speed=3 data-scroll-position="top")
                  .p0-logotext.en
                    ul
                      -var slognEn=[[0,0,109,11.32],[126.04,0,186,11.32],[327.15,0,188,11.32]]
                      each region,index in slognEn
                        li
                          +svguse("#slogn-en-p"+(index+1),region)
                  .p0-logotext.cn
                    ul
                      -var slognEn=[[0,0,50,14.27],[75,0,50,14.27],[148,0,50,14.27]]
                      each region,index in slognEn
                        li
                          +svguse("#slogn-cn-p"+(index+1),region)
                    //- svg(xmlns="http://www.w3.org/2000/svg", viewBox="0 0 109 11.32")
                    //-   use(xlink:href="#slogn-en-p1")
                    //- svg(xmlns="http://www.w3.org/2000/svg", viewBox="126.04 0 "+(126.04 + 186)+" 11.32")
                    //-   use(xlink:href="#slogn-en-p2")
                    //- svg(xmlns="http://www.w3.org/2000/svg", viewBox="0 0 188 11.32")
                    //-   use(xlink:href="#slogn-en-p3")


          //- page1:: 多媒体页 - 暂时隐藏
          //- #section1.swiper-slide(data-history="home" data-hash="home")
            section.c-section
              .bg-holder.p0-stripe-1.stripe-bg
                img.p0-stripe-img.scaleable(src=require("../images/p0_blueline_bg.png"))
              .p1-holder-pos
                .p1-contents-height
                  #p1-contents.p1-contents.swiper-container
                    .swiper-wrapper
                      -for(var x = 1; x <= 3; x++)
                        .swiper-slide.media-slide
                          .media-content
                          //-img(src=require("../images/p1_proxy.png"))
                          a.p1-detail(data-swiper-parallax-x="100" data-swiper-parallax-opacity="0")
                            span="P"+x+" DETAIL"
                      
                    .swiper-button-prev
                    .swiper-button-next
                  img.p1-slide-tip(src=require("../images/p1_slide_tip.png"))
              .p1-ltlogo
                img(src=require("../images/p1_lt_logo.svg"))
              .p1-lb-icon
                img(src=require("../images/p1_lb_icon.svg"))
                //-img(src=require("../images/p1_lb_icon.png"))

          //- page2:: 科技
          #section2.swiper-slide(data-history="G-POWER" data-hash="G-POWER")
            section.c-section.md-pad
              .p2-linebg
                .p2-linebg-wrapper
              .p2-stripe-1.stripe-bg
                img.p2-stripe-1-img.scaleable(src=require("../images/p2_blueline_1.png"))
              .p2-stripe-2.stripe-bg
                img.p2-stripe-2-img(src=require("../images/p2_blueline_2.png"))
              //-.p2-bg-leftside
                img.p2-leftside-img(src=require("../images/p2_leftside.png"))

              //- .p2-left-side
              //-   p LONG ENDURANCE

              .p2-content-bg
                .p2-machine
                  img.scaleable(src=require("../images/p2_machine.svg"))
                .p2-machine-warn
                  img.scaleable(src=require("../images/p2_machine_warn.svg")) 

              .p2-title.column-title
                p 风氢扬科技
                img.p2-lbbg-img.column-title-img(src=require("../images/p2_lbbg_img.svg"))
              .p2-contents.swiper-containers(data-swiper-animation="animate__fadeIn" 
                data-duration=".5s"
                data-delay=".2s" 
                data-swiper-out-animation="animate__fadeOut"
                data-out-duration=".2s"
                )
                .swiper-wrapper
                  block techSlides
                    -
                      var techDatas = [
                        {
                          title: "/你好世界/", 
                          detail: [
                            "燃料电池系统的原型可追溯至1839年，英国科学家威廉·格罗夫进行了人类历史上第一次燃料电池实验。",
                            "如今，这个“盒子”已成为全球各国能源战略的重要载体，正在改变并改善着人类赖以生存的生活环境和动力驱动方式。",
                            "它使用宇宙中最丰富的元素 - “氢”替代传统化石能源，通过电解反应将化学能转化为电能。已在全球各地的公共交通、物流运输、市政环卫、工程机械等领域得到了广泛应用，为真正的零碳排贡献着卓越的力量。",
                            "一群人再次因对前沿技术的追逐探索集结在一起，以<strong>“G-POWER”</strong>作为自己出征的徽章，佩戴着自信的利刃，天际慕白的晨光洒在身上，他们紧握剑柄，高唱战歌，用坚韧和灿烂砌成巴别高塔，向深邃的苍穹攀登。"
                          ],
                          columnsCn: 3
                        },{
                          title: "/关于我们/", 
                          detail: [
                            "<strong>G-POWER</strong>风氢扬科技成立于2019年，核心研发团队来自国内外知名燃料电池及整车开发企业。公司位于上海新能源汽车及关键零部件产业基地的研发中心在2020年投入运营，已形成完备的从核心零部件到燃料电池系统及功能样车的全套开发、测试与试制能力，并与国内诸多一线整车企业合作开发燃料电池汽车车型，为发展迅速且多样化的燃料电池应用场景提供先进的燃料电池技术和完整的动力系统总成解决方案。",
                            "<strong>G-POWER</strong>风氢扬科技研发团队具有丰富专业的燃料电池及整车开发经验，在持续自主研发的同时，与多所国内外知名高校积极合作，共同开展关键技术的联合研究开发工作。截止2020年8月，专利申报已达187项，2020年专利整体规划将突破200项，全面覆盖核心零部件研发、系统集成设计、控制策略开发等核心技术，并获得ISO9001质量管理体系认证。"
                          ],
                          columnsCn: 2
                        }]
                  each data in techDatas
                    .swiper-slide.tech-slide
                      h2.p2-cont-tit(data-swiper-parallax-opacity="0")
                        p(data-swiper-parallax-x="100" )
                          span= data.title
                      .p2-cont-detal(class=`column-count-${data.columnsCn}`).stop-swiping
                        each paragraph in data.detail
                          p!= paragraph


                  //- .swiper-slide.tech-slide
                    h2.p2-cont-tit(data-swiper-parallax-opacity="0")
                      p(data-swiper-parallax-x="100" )
                        span /你好世界/
                      //- p(data-swiper-parallax-x="300")
                      //-   span /Hello world/
                    .p2-cont-detal.column-count-3.stop-swiping
                      p 燃料电池系统的原型可追溯至1839年，英国科学家威廉·格罗夫进行了人类历史上第一次燃料电池实验。<br>
                      p 如今，这个“盒子”已成为全球各国能源战略的重要载体，正在改变并改善着人类赖以生存的生活环境和动力驱动方式。
                      p  它使用宇宙中最丰富的元素 - “氢”替代传统化石能源，通过电解反应将化学能转化为电能。已在全球各地的公共交通、物流运输、市政环卫、工程机械等领域得到了广泛应用，为真正的零碳排贡献着卓越的力量。
                      p  一群人再次因对前沿技术的追逐探索集结在一起，以#[strong “G-POWER”]作为自己出征的徽章，佩戴着自信的利刃，天际慕白的晨光洒在身上，他们紧握剑柄，高唱战歌，用坚韧和灿烂砌成巴别高塔，向深邃的苍穹攀登。

                  //- .swiper-slide.tech-slide
                    h2.p2-cont-tit(data-swiper-parallax-opacity="0")
                      p(data-swiper-parallax-x="100" )
                        span /关于我们/
                      //- p(data-swiper-parallax-x="300")
                      //-   span /About us/
                    .p2-cont-detal.column-count-2.stop-swiping
                      p #[strong G-POWER]风氢扬科技成立于2019年，核心研发团队来自国内外知名燃料电池及整车开发企业。公司位于上海新能源汽车及关键零部件产业基地的研发中心在2020年投入运营，已形成完备的从核心零部件到燃料电池系统及功能样车的全套开发、测试与试制能力，并与国内诸多一线整车企业合作开发燃料电池汽车车型，为发展迅速且多样化的燃料电池应用场景提供先进的燃料电池技术和完整的动力系统总成解决方案。
                      p #[strong G-POWER]风氢扬科技研发团队具有丰富专业的燃料电池及整车开发经验，在持续自主研发的同时，与多所国内外知名高校积极合作，共同开展关键技术的联合研究开发工作。截止2020年8月，专利申报已达187项，2020年专利整体规划将突破200项，全面覆盖核心零部件研发、系统集成设计、控制策略开发等核心技术，并获得ISO9001质量管理体系认证。
                .p2-thumb-scrollbar.swiper-scrollbar
                  .swiper-scrollbar-drag
                    .scroll-tip
                      .scroll-tip-img                    

                .swiper-button-prev.pretty-navigation
                  .swiper-button-next-bg
                .swiper-button-next.pretty-navigation
                  .swiper-button-next-bg
              //- img.p2-mobile-tip(src=require("../images/p2_mobile_tip.png"))
          //- page3:: 产品与服务
          #section3.swiper-slide(data-history="products-service" data-hash="products")
            section.c-section.md-pad
              .p3-stripe-1.stripe-bg
                img.p3-stripe-img.scaleable(src=require("../images/p3_blueline_1.png"))
              .p3-stripe-2.stripe-bg
                img.p3-stripe-img.scaleable(src=require("../images/p3_blueline_2.png"))
              .p3-title.column-title
                p 产品与服务
                img.column-title-img(src=require("../images/p3_title.svg")
                  data-scroll
                  data-scroll-speed=3
                  data-scroll-direction="horizontal")
              //- .p3-right-side
              //-   p NO CARBON EMISSION
              .p3-contents.container-fluid
                .row
                  .p3-cont-left.col-sm-12.col-md-6.col-lg-7.col-xxl-6
                    .p3-prodect-title.clearfix
                      //- img.p3-prodect-index(src=require("../images/p3_index.svg"))
                      .p3-prodect-index
                        include ../images/p3_index_inc.svg
                      h3.p3-prodect-tittext /CHIGMA系列
                    .p3-product-region
                      .p3-product-msg.swiper-containers
                        .swiper-wrapper
                          .swiper-slide.stop-swiping
                            svg(aria-hidden="true" viewBox="628.9,0,285,200")
                              use(xlink:href="#model3")
                              //- ???? 切换外链失败
                            //- img(src=require("../images/p3_model_3.png"))
                          .swiper-slide.stop-swiping
                            svg(aria-hidden="true" viewBox="324.0,0,285,200")
                              use(xlink:href="#model2")
                            //- img(src=require("../images/p3_model_2.png"))
                          .swiper-slide.stop-swiping
                            svg(aria-hidden="true" viewBox="0,0,285,200")
                              use(xlink:href="#model1")
                            //- img(src=require("../images/p3_model_1.png"))
                          .swiper-slide.stop-swiping
                            svg(aria-hidden="true" viewBox="972.0,0,285,200")
                              use(xlink:href="#model4")
                            //- //img(src=require("../images/p3_model_4.png"))
                        .swiper-pagination
                      .p3-prev
                      .p3-next
                  .p3-cont-right.stop-swiping.col-sm-11.col-md-6.col-lg-5.col-xxl-6
                    .p3-paragraph
                      .p3-vertical-border
                      block productParagraph
                        -
                          var productData = [
                            '<strong>CHIGMA</strong>系列燃料电池系统是G-POWER风氢扬科技基于用户的多样化需求开发而成的65kW至125kW的中、高功率产品系列。该系列产品采用大功率单堆方案和一体式模块化设计，通过持续优化的控制策略和集成设计实现长寿命、大功率、小体积等行业领先优势。',
                            '<strong>CHIGMA 60</strong>及<strong>CHIGMA 80</strong>燃料电池系统可为市内物流、城市公交、城际货运、市政环卫、工程服务等车辆提供稳定可靠的零排动力，并以与诸多国内主机厂商开展战略合作和产品应用落地。',
                            '<strong>CHIGMA 120</strong>燃料电池系统专为重卡长时间运行、高负载率及工况恶劣等特点打造，通过整车控制策略、系统集成、核心零部件三大核心领域的技术提升，从而拥有更长寿命、更高集成度和更高可靠性，满足重卡车辆持续高速工况的需求，同时还将实现全生命周期的成本降低。期的成本降低。'
                          ]
                      each data in productData
                        p!= data
                      //- p(data-swiper-animation="animate__fadeInUp" 
                      //-   data-duration=".5s"
                      //-   data-delay=".2s"
                      //-   data-swiper-out-animation="animate__fadeOut"
                      //-   data-out-duration=".3s") #[strong CHIGMA]系列燃料电池系统是G-POWER风氢扬科技基于用户的多样化需求开发而成的65kW至125kW的中、高功率产品系列。该系列产品采用大功率单堆方案和一体式模块化设计，通过持续优化的控制策略和集成设计实现长寿命、大功率、小体积等行业领先优势。
                      //- p(data-swiper-animation="animate__fadeInUp" 
                      //-   data-duration=".5s"
                      //-   data-delay=".25s"
                      //-   data-swiper-out-animation="animate__fadeOut"
                      //-   data-out-duration=".3s") #[strong CHIGMA 60]及#[strong CHIGMA 80]燃料电池系统可为市内物流、城市公交、城际货运、市政环卫、工程服务等车辆提供稳定可靠的零排动力，并以与诸多国内主机厂商开展战略合作和产品应用落地。
                      //- p(data-swiper-animation="animate__fadeInUp" 
                      //-   data-duration=".5s"
                      //-   data-delay=".3s"
                      //-   data-swiper-out-animation="animate__fadeOut"
                      //-   data-out-duration=".3s") #[strong CHIGMA 120]燃料电池系统专为重卡长时间运行、高负载率及工况恶劣等特点打造，通过整车控制策略、系统集成、核心零部件三大核心领域的技术提升，从而拥有更长寿命、更高集成度和更高可靠性，满足重卡车辆持续高速工况的需求，同时还将实现全生命周期的成本降低。
          //- page4:: 工程服务
          #section4.swiper-slide(data-history="products-service" data-hash="service")
            section.c-section.md-pad
              .p4-stripe-1.stripe-bg
                img.p4-stripe-img.scaleable(src=require("../images/p4_blueline_1.png"))
              
              block serviceConts
                -
                  var serviceData = {
                    tit: '/工程服务',
                    desc: '我们的工程师是氢燃料电池技术的顶尖从业者，可提供从定制系统零部件到为客户开发完整的燃料电池系统，从原型样车试制到车型量产配合的全方位产品及应用工程的咨询服务。',
                    conts: [
                      {
                        boxTit: '整车动力系统<br>工程应用服务',
                        desc: '从整车布局设计到车辆认证的氢燃料电池汽车动力总成端到端旗舰应用工程服务。'
                      },
                      {
                        boxTit: '氢燃料电池系统<br>及零部件定制服务',
                        desc: '针对非标准应用、集成、及场景的定制解决方案。'
                      },
                    ]
                  }
              .p4-prodect-title.clearfix
                .p-title-holder
                  .p4-prodect-index
                    include ../images/p4_index_inc.svg
                  h3.p4-prodect-tittext-md= serviceData.tit
                h3.p4-prodect-tittext= serviceData.tit
                p.stop-swiping= serviceData.desc
              ul.p4-contents
                each data in serviceData.conts
                  li
                    h3.p4-box!= data.boxTit
                    p!= data.desc

              //- .p4-prodect-title.clearfix
              //-   //- img.p4-prodect-index(src=require("../images/p4_index_inc.svg"))
              //-   .p-title-holder
              //-     .p4-prodect-index
              //-       include ../images/p4_index_inc.svg
              //-     h3.p4-prodect-tittext-md /工程服务
              //-   h3.p4-prodect-tittext /工程服务
              //-   p.stop-swiping 我们的工程师是氢燃料电池技术的顶尖从业者，可提供从定制系统零部件到为客户开发完整的燃料电池系统，从原型样车试制到车型量产配合的全方位产品及应用工程的咨询服务。
              //- ul.p4-contents
              //-   li
              //-     h3.p4-box 整车动力系统<br>工程应用服务
              //-     p 从整车布局设计到车辆认证的氢燃料电池汽车动力总成端到端旗舰应用工程服务。
              //-   li
              //-     h3.p4-box 氢燃料电池系统<br>及零部件定制服务
              //-     p 针对非标准应用、集成、及场景的定制解决方案。

          //- page5:: 售后支持
          #section5.swiper-slide(data-history="products-service" data-hash="supports")
            section.c-section.md-pad
              .p5-stripe-1.stripe-bg
                img.p5-stripe-img.scaleable(src=require("../images/p5_blueline_1.png"))
              block afterSaleConts
                -
                  var afterSaleData = {
                    tit: '/售后支持',
                    desc: '提供可靠的产品只是第一步，一套涵盖使用指导、车辆保养维修、数据监控管理的完善体系是我们为客户进行售后运营维护的有力保障。',
                    conts: [
                      {
                        boxTit: '数据业务平台/',
                        desc: "自主开发大数据平台，对车辆运行情况进行实时监控，从而持续改善运营效率，预测并防止车辆运行中出现的问题，保障行驶安全。"
                      },{
                        boxTit: '运维保障服务/',
                        desc: "随着中国市场氢燃料电池汽车的商业化运营推行，我们建立了专业面向氢燃料电池汽车运维的售后服务体系，为不断增长的氢燃料电池汽车市场提供专业的售后服务。"
                      },{
                        boxTit: '产品指引手册/',
                        desc: "提供全方位的操控、维护、保养指导，并提供标准化的备品备件清单"
                      }
                    ]
                  }
              .p5-prodect-title.clearfix
                //- img.p5-prodect-index(src=require("../images/p5_index.svg"))
                .p-title-holder
                  .p5-prodect-index
                    include ../images/p5_index_inc.svg
                  h3.p5-prodect-tittext-md!= afterSaleData.tit
                h3.p5-prodect-tittext!= afterSaleData.tit
                p.stop-swiping!= afterSaleData.desc
              .p5-contents.swiper-containers
                .swiper-wrapper
                  each data in afterSaleData.conts
                    .swiper-slide 
                      h3.p5-box.stop-swiping!= data.boxTit
                      p.p5-detail.stop-swiping!= data.desc
                .swiper-button-prev.pretty-navigation
                  .swiper-button-next-bg
                .swiper-button-next.pretty-navigation
                  .swiper-button-next-bg
              //- .p5-prodect-title.clearfix
              //-   //- img.p5-prodect-index(src=require("../images/p5_index.svg"))
              //-   .p-title-holder
              //-     .p5-prodect-index
              //-       include ../images/p5_index_inc.svg
              //-     h3.p5-prodect-tittext-md /售后支持
              //-   h3.p5-prodect-tittext /售后支持
              //-   p.stop-swiping 提供可靠的产品只是第一步，一套涵盖使用指导、车辆保养维修、数据监控管理的完善体系是我们为客户进行售后运营维护的有力保障。
              //- .p5-contents.swiper-containers
              //-   .swiper-wrapper
              //-     .swiper-slide 
              //-       h3.p5-box.stop-swiping 数据业务平台/
              //-       p.p5-detail.stop-swiping 自主开发大数据平台，对车辆运行情况进行实时监控，从而持续改善运营效率，预测并防止车辆运行中出现的问题，保障行驶安全。
              //-     .swiper-slide
              //-       h3.p5-box.stop-swiping 运维保障服务/
              //-       p.p5-detail.stop-swiping 随着中国市场氢燃料电池汽车的商业化运营推行，我们建立了专业面向氢燃料电池汽车运维的售后服务体系，为不断增长的氢燃料电池汽车市场提供专业的售后服务。
              //-     .swiper-slide
              //-       h3.p5-box.stop-swiping 产品指引手册/
              //-       p.p5-detail.stop-swiping 提供全方位的操控、维护、保养指导，并提供标准化的备品备件清单
              //-   .swiper-button-prev.pretty-navigation
              //-     .swiper-button-next-bg
              //-   .swiper-button-next.pretty-navigation
              //-     .swiper-button-next-bg

          //- page6:: 应用案例
          #section6.swiper-slide(data-history="applications" data-hash="case")
            section.c-section.md-pad
              .p6-stripe-1.stripe-bg
                img.p6-stripe-img.scaleable(src=require("../images/p6_blueline_1.png"))
              .p6-linebg
                .p6-linebg-wrap
                  include ../images/solarsys_inc.svg
              .p6-title.column-title
                p 市场应用
                img.column-title-img(src=require("../images/p6_title.svg"))
              .p6-contents.stop-swiping
                .row
                  .p6-thumb.swiper-containers.col-xs-4.col-sm-3.col-md-2

                    .swiper-wrapper
                      .swiper-slide
                        img(src=require("../images/p6_model_1.svg"))
                      .swiper-slide
                        img(src=require("../images/p6_model_2.svg"))
                      .swiper-slide
                        img(src=require("../images/p6_model_3.svg"))
                      .swiper-slide
                        img(src=require("../images/p6_model_4.svg"))
                      //- .swiper-slide
                      //-   img(src=require("../images/p6_model_1.svg"))
                  //- .p6-borderline
                  .p6-thumb-scrollbar.swiper-scrollbar

                  .p6-msgcont.swiper-containers.col-xs-8.col-sm-9.col-md-10
                    .swiper-wrapper
                      block appConts
                        -
                          var appData = [
                            {
                              category:"公共交通", 
                              name: "公交巴士/通勤巴士"
                            }, {
                              category: "物流运输", 
                              name: "轻型市内/中型城际/<br/>重型省际物流车/牵引车头"
                            },{
                              category: "市政环卫", 
                              name: "清扫车/洒水车"
                            }, {
                              category: "工程机械", 
                              name: "装载机/叉车/渣土车/<br/>港口机械/智能运输"
                            }
                          ]
                      each val,index in appData
                        .swiper-slide.container-fluid
                          .row
                            .p6-text-area.col-xs-12.col-sm-12.col-md-5.stop-swiping
                              span.p6-sub-title=val.category
                              .p6-modeltitle-region
                                h3.p6-model-title!=val.name
                                .p6-tiny-icon
                              //- h3.p6-model-title CHANGING THE WORLD, <br>ONE CITY AT A TIME
                              //- p.p6-model-detail We care, we share, we believe. 
                                | <br>
                                | We develop, market, and help operate customized micromobility solutions in cities across the globe, leading the industry in sustainable bike share systems.
                            .p6-imageholder.col-xs-12.col-sm-12.col-md-7
                              //- include ../images/p6_imgholder_inc.svg
                              .p6-lt-icon
                              .p6-rb-icon
                              .p6-modelimg
                                img(src=require("../images/p6_modelimg_"+(index+1)+".png"))

          //- page7:: 新闻
          #section7.swiper-slide(data-history="media" data-hash="news")
            section.c-section.md-pad
              .p7-stripe-1.stripe-bg
                img.p7-stripe-img.scaleable(src=require("../images/p7_blueline_1.png"))
              .p7-title.column-title
                p 媒体中心
                img.column-title-img(src=require("../images/p7_title.svg"))
              .p7-contents-pos.stop-swiping
                .p7-contents.swiper-containers
                  .swiper-wrapper
                    template#newsTemplate
                      .news-slide.swiper-slide
                        a.p7-news-link(href="{{url}}")
                          figure.p7-newsimg-size
                            .p7-img-wrapper
                              img(src="{{imgsrc}}")
                          .p7-news-info
                            span {{date}}
                            h3 {{title}}
                            p.news-desc {{description}}
                    //- -for(var i =1; i<=7; i++)
                      .news-slide.swiper-slide
                        a.p6-news-link(href="#")
                          figure.p6-newsimg-size
                            .p6-img-wrapper
                              img(src=require("../images/p6_news_1.jpg"))
                          .p6-news-info
                            span 2020-9-15
                            h3 CHANGING THE WORLD
                            p We care, we share, we belivie.<br>
                              | We develop, market, and help operate customized micromobility solutions in cities across the globe, leading the industry in sustainable bike share systems.
                .swiper-button-prev.pretty-navigation.p7-prev
                  .swiper-button-next-bg
                .swiper-button-next.pretty-navigation.p7-next
                  .swiper-button-next-bg

              #section8.p8-section
                .c-section
                  block mediaConts
                    - var mediaData = {tit: "合作机构"}
                  .p8-title.column-title
                    p= mediaData.tit
                    img(src=require("../images/p6_model_active.svg"))
                  .p8-contents
                    ul.p8-partner-left
                      -for(var i=1; i<=3; i++)
                        li
                          img(src=require("../images/p8_partner_a"+(i<10?("0"+i):i)+".png"))
                    ul.p8-partner-right
                      -for(var j=1; j<=14; j++)
                        li
                          img(src=require("../images/p8_partner_b"+(j<10?("0"+j):j)+".png"))
                .p8-rb-icon
                  img(src=require("../images/p1_lb_icon.svg"))

            footer.footer
              .footer-container.container-fluid
                .row
                  .footer-logo.col-xs-4.col-lg-4
                    img.scaleable(src=require("../images/footer_logo.svg"))
                  .shares.col-xs-1.col-lg-4
                    svg.icon(aria-hidden="true")
                      use(xlink:href="#icon-weixin")
                    //- svg.icon(aria-hidden="true")
                    //-   use(xlink:href="#icon-tubiaozhizuo-")
                    //- svg.icon(aria-hidden="true")
                    //-   use(xlink:href="#icon-linkedin")
                    //- svg.icon(aria-hidden="true")
                    //-   use(xlink:href="#icon-douyin")
                  .footer-right.col-xs-5.col-lg-4
                    img(src=require("../images/footer_right_proxy.png"))
              .copyright
                p 风氢扬科技有限公司版权所有 | Copyright &copy; 
                p 
                  span 内容自审制度
                  span 经营许可证编号：XXX-1234567890
                  span 沪ICP备12345678号
                p 沪网文（2020）0460-123
          //-#section100.swiper-slide(data-history="end" data-hash="end",style='height:0')
          //-#section100.swiper-slide(style="height:0")




        .main-scrollbar.swiper-scrollbar

      .news_page
        .news_contents
          a.news-back &larr;返回
          h2.news-page-title
          //-  风氢扬科技CHIGMA 120系统正式亮相FCVC2020
          span.publish-date
          //-  2020-9-15
          .news-page-body
        .news-rb-icon
          img(src=require("../images/p1_lb_icon.svg"))

          //- p 9月14-16日，由中国汽车工程学会和国际氢能与燃料电池协会（筹）共同主办的“第五届国际氢能与燃料电池汽车大会”（FCVC 2020）在上海汽车会展中心隆重召开，风氢扬科技携最新大功率燃料电池系统-CHIGMA 120系统参展。CHIGMA 120系统一亮相，便吸引众多参会代表前来围观交流，成为整个展馆炙手可热的展品之一。
          //- p CHIGMA 120系统，是风氢扬科技针对中国重卡车型长时间运行、高负载率及工况恶劣等运营工况开发而成的大功率燃料电池系统；CHIGMA120系统通过整车控制策略、系统集成、核心零部件三大核心领域的技术提升，从而拥有更长寿命、更高集成度和更高可靠性，满足重卡车辆持续高速工况的需求，同时还将实现全生命周期的成本降低。
          //- img(src=require("../images/news_proxy.png"))
          //- p FCVC2020正在如火如荼的进行中，我们期待更多的新老朋友莅临B109风氢扬展台，与我们互动交流、沟通合作，共话中国氢能美好明天！
  //script(src="/fonts/iconfont.js")